<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GPTS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GPTS.Entegrasyon.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="GPTS.Properties.Settings.HititConnectionString" connectionString="Data Source=.;Initial Catalog=MTP2012;User ID=hitityazilim;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="GPTS.Properties.Settings.HISFSMConnectionString" connectionString="Data Source=10.1.1.10;Initial Catalog=HISFSM;Persist Security Info=True;User ID=bilbest;Password=2100"
      providerName="System.Data.SqlClient" />
    <add name="GPTS.Properties.Settings.ConnectionString" connectionString="Data Source=.;Initial Catalog=hitityazilim;Persist Security Info=True;User ID=hitityazilim;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="GPTS.Properties.Settings.PersonelTSConnectionString"
      connectionString="Data Source=GURBUZ;Initial Catalog=PersonelTS;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <microsoft.web.services3>
    <policy fileName="wse3policyCache.config"/>
  </microsoft.web.services3>
  <appSettings>
    <add key="sonkullanici" value="Admin"/>
    <add key="serveradi" value="."/>
    <add key="veritabani" value="MTP2012"/>
    <add key="kullaniciadi" value="hitityazilim"/>
    <add key="sifre" value="WXEn2PMYSlwx5OCe8BLWDw=="/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSSKRSSistemlerPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="WSSKRSSistemlerPortBinding1" />
        <binding name="IntegrationSoap" />
        <binding name="ProductServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="ProductServicePortSoap111" />
        <binding name="BasicHttpBinding_IBasicIntegration" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IIntegration" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IIntegration1">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3290/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="yenistokkartiws.IService1"
        name="BasicHttpBinding_IService1" />
      <endpoint address="https://yws.sagliknet.saglik.gov.tr/ESaglikYardimciServislerApp-WSHariciWebServisleri/WSSKRSSistemlerPort"
        binding="basicHttpBinding" bindingConfiguration="WSSKRSSistemlerPortBinding"
        contract="skrs3servis.WSSKRSSistemler" name="WSSKRSSistemlerPort" />
      <endpoint address="http://messaging.yemeksepeti.com/messagingwebservice/integration.asmx"
        binding="basicHttpBinding" bindingConfiguration="IntegrationSoap"
        contract="yemeksepetiws.IntegrationSoap" name="IntegrationSoap" />
      <endpoint address="https://api.n11.com/ws/productService/" binding="basicHttpBinding"
        bindingConfiguration="ProductServicePortSoap11" contract="Api.ProductServicePort"
        name="ProductServicePortSoap11" />
      <endpoint address="http://efatura.uyumsoft.com.tr/Services/BasicIntegration"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBasicIntegration"
        contract="EFaturaBasic.IBasicIntegration" name="BasicHttpBinding_IBasicIntegration" />
      <endpoint address="https://efatura-test.uyumsoft.com.tr/Services/Integration"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegration1"
        contract="Uyumsoft.IIntegration" name="BasicHttpBinding_IIntegration" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <GPTS.Properties.Settings>
      <setting name="GPTS_SKRS_WSSKRSSistemlerService" serializeAs="String">
        <value>https://yws.sagliknet.saglik.gov.tr/ESaglikYardimciServislerApp-WSHariciWebServisleri/WSSKRSSistemlerPort</value>
      </setting>
      <setting name="GPTS_wshitityazilim_WebService" serializeAs="String">
        <value>http://www.hitityazilim.com/WebService.asmx</value>
      </setting>
      <setting name="GPTS_com_n11_api_ProductServicePortService" serializeAs="String">
        <value>https://api.n11.com/ws/productService/</value>
      </setting>
      <setting name="GPTS_EArsivDiyaLogo_PostBoxService" serializeAs="String">
        <value>https://betatest.diyalogo.com.tr/webservice/PostBoxService.svc</value>
      </setting>
    </GPTS.Properties.Settings>
  </applicationSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <GPTS.Entegrasyon.Settings1>
      <setting name="WebServiceLiveUri" serializeAs="String">
        <value>http://efatura-test.uyumsoft.com.tr/Services/BasicIntegration</value>
      </setting>
      <setting name="WebServiceTestUri" serializeAs="String">
        <value>http://efatura-test.uyumsoft.com.tr/Services/BasicIntegration</value>
      </setting>
      <setting name="WebServiceLivePassword" serializeAs="String">
        <value>Uyumsoft</value>
      </setting>
      <setting name="WebServiceLiveUsername" serializeAs="String">
        <value>Uyumsoft</value>
      </setting>
      <setting name="WebServiceTestUsername" serializeAs="String">
        <value>Uyumsoft</value>
      </setting>
      <setting name="WebServiceTestPassword" serializeAs="String">
        <value>Uyumsoft</value>
      </setting>
      <setting name="UseTestEnvironment" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoggingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </GPTS.Entegrasyon.Settings1>
  </userSettings>
</configuration>
