<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings >
    <add key="Baglanti" value="Password=...;User ID=...;Data Source=...;Unicode=true"/>
    <add key="KullaniciAdi" value="..."/>
    <add key="Sifre" value="..."/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSSKRSSistemlerPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="WSSKRSSistemlerPortBinding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding" closeTimeout="00:30:00" openTimeout="00:30:00"
          receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <security enableUnsecuredResponse="true" authenticationMode="UserNameOverTransport"
            requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="false"
            allowInsecureTransport="true" keyEntropyMode="CombinedEntropy"
            messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap11WSAddressing10" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="94194304" allowCookies="true"
            decompressionEnabled="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://yws.sagliknet.saglik.gov.tr/ESaglikYardimciServislerApp-WSHariciWebServisleri/WSSKRSSistemlerPort"
        binding="customBinding" bindingConfiguration="CustomBinding"
        contract="skrsServis.WSSKRSSistemler" name="WSSKRSSistemlerPort" />
     </client>
  </system.serviceModel>

 
</configuration>
